/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */


 @tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom delay classes */
@layer utilities {
  .delay-200 {
    animation-delay: 0.2s;
  }
  .delay-400 {
    animation-delay: 0.4s;
  }
  .delay-600 {
    animation-delay: 0.6s;
  }
  .delay-800 {
    animation-delay: 0.8s;
  }
}

/* Remove default scrollbar */
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}
